<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="/assets/J2Trucks/Trailer_Transport_06_alt01_edit.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="/assets/J2Trucks/Trailer_Transport_01_alt02_edit.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="/assets/J2Trucks/Trailer_Transport_01_alt03_edit.jpg" style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="/assets/J2Trucks/Van_Data_02_alt01_edit.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="/assets/J2Trucks/_misc.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
  <span class="dot" (click)="currentSlide(4)"></span>
</div>