div {
    display: block;
    overflow: hidden;
}

#scoochie {
    padding-left: 15px;
}

#CrudePriceDisplay, div#BrentPriceDisplay {
    height: 183px;
    width: 225px;
    padding-left: 52px;
}

#CommoditiesPriceDisplay {
    height: 192px;
    width: 219px;
}

#GasPrices {
    background-color: red;
    height: 180px;
    width: 200px;
}

#prices-header-row {
    background-color: #ededed;
    color: #222428;
    border: solid 3px #222428;
}

#prices-row {
    background-color: #222428;
    border: solid 3px #222428;
}

// #CrudePriceDisplay, #BrentPriceDisplay {
//     display: block;
//     height: 87%;
//     overflow: hidden;
//     width: 100%;
//     background-color: red;
//     text-align: center;
//     padding-left: 70px;
// }