<ion-grid>
  <ion-row class="ion-text-center" id="prices-header-row">
    <ion-col>
      <h2>Daily Gas Prices</h2>
    </ion-col>
  </ion-row>
  <ion-row id="prices-row">
    <ion-col id="scoochie">
      <div id="CrudePriceDisplay"></div>
    </ion-col>
    <ion-col>
      <div id="BrentPriceDisplay"></div>
    </ion-col>
    <ion-col>
      <div id="CommoditiesPriceDisplay"></div>
    </ion-col>
    <ion-col>
      <div id="GasPrices"></div>
    </ion-col>
  </ion-row>
</ion-grid>