//adjust footer settings
.footer {
  width: 100%;
  color: #e91c24;
  font-weight: bold;
  background: #03000b;
  line-height: 56px;
  text-align: center;
}

.link {
  color: #ededed;
  --color: #222428;
}

.active-link {
  color: #222428;
  --background: #ededed;
}
