<ion-footer class="footer">
  <ion-row class="ion-align-items-center">
    <ion-col offset-lg="1.5" offset-md="1.5" size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/home" routerDirection="root" routerLinkActive="active-link" class="link">
        Home
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/about" routerDirection="root" routerLinkActive="active-link" class="link">
        About
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/contact" routerDirection="root" routerLinkActive="active-link" class="link">
        Contact
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col offset-lg="1.5" offset-md="1.5" size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/news" routerDirection="root" routerLinkActive="active-link" class="link">
        News
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/equipment" routerDirection="root" routerLinkActive="active-link"
        class="link">
        Equipment
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/cs" routerDirection="root" routerLinkActive="active-link" class="link">
        Customer Satisfaction
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center" size-lg="3" size-sm="12">
    <ion-col offset-lg="1.5" offset-md="1.5" size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/roq" routerDirection="root" routerLinkActive="active-link" class="link">
        Request a Quote
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" routerLink="/safety" routerDirection="root" routerLinkActive="active-link" class="link">
        Safety
      </ion-button>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
      <ion-button fill="clear" class="link">
      </ion-button>
    </ion-col>
  </ion-row>
  <span>J2 Acid Solutions 2020</span>
</ion-footer>