ion-toolbar {
    text-align: center;
}

ion-header {
    background: none;
    padding: 15px;
}

ion-icon {
    color: #222428;
}

select {
    width: 80%;
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
    min-width: 50%;
    min-height: 50%; 
    max-width: 75%;
    max-height: 75%;
}

.link {
    color: #222428;
    --color: #222428;
}

.active-link {
    --color: #ededed;
    --background: #03000b;
}

.social-media-box {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: block;
        margin: auto;
        width: 50%;
        height: 50%;
    }

    .social-media-box {
        text-align: center;
    }
}