<ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size-md="4" size-sm="12" size-xs="12">
        <img src="/assets/icon/J2logo.jpg" class="logo ion-text-center">
      </ion-col>
      <ion-col class="social-media-box" size-md="8" size-sm="12" size-xs="12">
        <p>
          <!-- <a class="link">CAREERS</a> | -->
          <a class="link" routerLink="/contact">CONTACT</a>
          <!-- <a class="link">PRIVACY POLICY</a> -->
        </p>
        <h2>(432) 331-0189</h2>
        <div>
          <ion-button fill="clear" size="large" href="https://www.facebook.com/J2Acidsolutions/">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <!-- <ion-button fill="clear" size="small" href="https://www.twitter.com"><ion-icon name="logo-twitter"></ion-icon></ion-button> -->
          <ion-button fill="clear" size="large" href="https://www.linkedin.com">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
          <!-- <ion-button fill="clear" size="small" href="https://www.youtube.com"><ion-icon name="logo-youtube"></ion-icon></ion-button> -->
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="isDesktop">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-button fill="clear" routerLink="/home" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Home
            </ion-button>
            <ion-button fill="clear" routerLink="/about" routerDirection="root"
              routerLinkActive="active-link" class="link">
              About
            </ion-button>
            <ion-button fill="clear" routerLink="/equipment" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Equipment
            </ion-button>
            <ion-button fill="clear" routerLink="/cs" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Customer Satisfaction
            </ion-button>
            <ion-button fill="clear" routerLink="/safety" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Safety
            </ion-button>
            <ion-button fill="clear" routerLink="/news" routerDirection="root"
              routerLinkActive="active-link" class="link">
              News
            </ion-button>
            <ion-button fill="clear" routerLink="/contact" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Contact
            </ion-button>
            <!-- <ion-button fill="clear" routerLink="/roq" routerDirection="root"
              routerLinkActive="active-link" class="link">
              Request a Quote
            </ion-button> -->
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isDesktop">
      <ion-row>
        <ion-col offset="3" size="6">
          <select (change)="navigateTo($event.target.value)">
            <option>Go To...</option>
            <option value="home">Home</option>
            <option value="about">About</option>
            <option value="equipment">Equipment</option>
            <option value="cs">Customer Satisfaction</option>
            <option value="safety">Safety</option>
            <option value="news">News</option>
            <option value="contact">Contact</option>
            <!-- <option value="roq">Request a Quote</option> -->
          </select>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>