<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h1>About</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>With over 100 years of Oilfield Experience with the Mgmt Group, J2 Acid Solutions was opened in late
              August 2017 servicing West and South Texas. J2 provides all types of Acid services including:
              Hydrochloric, Acetic, Custom Acid blends, NEFE Packages, Xylene and many more.</p>
            <br />
            <p>J2's diverse pump division is comprised of a wide variety of equipment ranging from simple test units,
              to twin 2000, 2500 hoursepower Frac units, cumulative 20BPM pumps. Whether you need a casing pressure
              test, or a full DFIT, our range of pressure pumping capabilities has you covered. Most pumps are outfitted with torque wrenches,
              transducers, pressure relief valves, data acquisition, and have their own centrifugal pumps for
              "self-feeding" abilities. All pumps are also 15k working pressure.</p>
            <br />
            <p>
              Our capabilities include -
            </p>
            <ul>
              <li>Load and Kill Wells</li>
              <li>Open Sleeves</li>
              <li>Pump and Displace Mud</li>
              <li>Mix chemical system on the fly with 2-10BBL mixing tanks on most pumps</li>
              <li>Wireline Pump downs</li>
              <li>Torque and Test</li>
              <li>FET and DFITS</li>
              <li>Toe Preps</li>
              <li>Hydro testing and H5 testing</li>
              <li>24 Hour Dispatch and GPS fleet tracking</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>