<ion-content>
  <j2-header></j2-header>
  
  <div class="page-content">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>J2 Acid Solutions</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>2989 S. County Rd West, BLDG C</p>
            <p>(432) 331-0189</p>
            <p>PO Box 2724, Odessa, Texas, 79760</p>
            <p>WTOffice@J2Acid.com</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Joey Desmarias</ion-card-title>
            <ion-card-subtitle>General Manager</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Joey@J2Acid.com</p>
            <p>Mobile: (512) 497-4906</p>
            <p>Office: (432) 331-0189</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Brock</ion-card-title>
            <ion-card-subtitle>West Texas Field Sales</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Brock@J2Acid.com</p>
            <p>Mobile: (940) 452-0608</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Jamie</ion-card-title>
            <ion-card-subtitle>West Texas Field Sales</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Jamie@J2Acid.com</p>
            <p>Mobile: (575) 602-2225</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>John Jalufka</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>President</p>
            <p>Mobile: (361) 877-4742</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>
