<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Request A Quote
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="email" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label>Name:</ion-label>
                <ion-input type="text" name="name" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Email:</ion-label>
                <ion-input type="text" name="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Message:</ion-label>
                <ion-textarea type="text" rows=10 name="body" formControlName="body"></ion-textarea>
              </ion-item>
              <ion-button type="submit" class="ion-float-right">Send</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>