<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <div *ngIf="isDesktop">
      <ion-row *ngFor="let item of equipment" class="ion-align-items-center">
        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <img src='{{ item.imageSrc }}'>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title><h1>{{ item.title }}</h1></ion-card-title>
              <ion-card-subtitle *ngIf="item.subtitle"><h3>{{ item.subtitle }}</h3></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ item.description }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isDesktop">
      <ion-row *ngFor="let item of equipment" class="ion-align-items-center">
        <ion-col id="mobile-col-text-fix">
          <ion-card>
            <ion-card-header>
              <img src='{{ item.imageSrc }}'>
              <ion-card-title>{{ item.title }}</ion-card-title>
              <ion-card-subtitle *ngIf="item.subtitle">{{ item.subtitle }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ item.description }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <j2-footer></j2-footer>
</ion-content>