img {
    display: block;
    margin: auto;
    min-width: 50%;
    min-height: 50%; 
    max-width: 75%;
    max-height: 75%;
}

@media only screen and (max-width: 768px) {
    #mobile-col-text-fix {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) {    
    ion-card {
        box-shadow: none;
    }
}

.image-slider-container {
    width: 205px;
    margin: auto;
}
