<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1>John's Letter</h1></ion-card-title>
            <ion-card-subtitle><h4>J2 Acid Solutions Commitment</h4></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>J2 Acid Solutions, LLC. is committed to customer satisfaction. Our business is based solely on quality
              service. Our success is a reflection of that commitment.</p>
            <br />
            <p>If during any standard operation our equipment fails, our people or our services have been found
              unsatisfactory, there will be no charge to the customer.</p>
            <br />
            <p>In the event our crews or equipment is recalled to bring a job up to the customer standards or
              satisfaction, there will be no additional charge for mileage, equipment or personnel.</p>
            <br />
            <p>With this commitment and policy of satisfaction guaranteed, we have set our standards far higher than
              the industrial demands. We here at J2 Acid Solutions, LLC. could not afford it any other way.</p>
            <br />
            <p>We look forward to the opportunity to be of service to you.</p>
            <br />
            <p>J2 Acid Solutions, LLC.</p>
            <br />
            <p style="font-style: italic;">John L. Jalufka, President</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>