<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <div class="ion-padding">
      <h2>
        Oil & Gas 360
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let entry of og360" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <a href="{{ entry.link }}">{{ entry.title }}</a>
                </ion-card-title>
                <ion-card-subtitle>
                  {{ entry.pubDate }}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ entry.contentSnippet }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-padding">
      <h2>
        Oil & Gas Journal
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let entry of ogjGI" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <a href="{{ entry.link }}">{{ entry.title }}</a>
                </ion-card-title>
                <ion-card-subtitle>
                  {{ entry.pubDate }}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ entry.contentSnippet }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-padding">
      <h2>
        Oil & Gas IQ
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let entry of ogIQ" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <a href="{{ entry.link }}">{{ entry.title }}</a>
                </ion-card-title>
                <ion-card-subtitle>
                  {{ entry.pubDate }}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ entry.contentSnippet }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-padding">
      <h2>
        Rig Zone News
      </h2>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let entry of rzLatest" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <a href="{{ entry.link }}">{{ entry.title }}</a>
                </ion-card-title>
                <ion-card-subtitle>
                  {{ entry.pubDate }}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ entry.contentSnippet }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <oilpricegraph></oilpricegraph>
  </div>
  <j2-footer></j2-footer>
</ion-content>