<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title><h1>J2 Safety</h1></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>At J2 Acid, we take the health and safety of our people, community and environment seriousl. We
              strictly enforce all HSE standards from every employee, contractor, and individual present on the jobsite
              and pride ourselves in maintaining a safe and positive work environment. Any specified customer
              requirement will be met to ensure client satisfcation.</p>
            <br />
            <p>
              Our first-class HSE program ensures employee health and safety; leading to positive attitudes, and premium
              service quality.
            </p>
            <br />
            <p>
              We are commited to -
            </p>
            <ul>
              <li>
                Protecting and striving for the improvement of the health, safety and security of our pepole, community
                and environment at all times.
              </li>
              <li>
                Maintaining a "Green" status on ISNetworld
              </li>
              <li>
                Proactive annual training, and continuous improvement for implementation of HSE policies and standards
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>