ion-card {
    box-shadow: none;
}

ul {
    list-style-type: none;
}

#info-card-link {
    ion-card-content {
        p {
            font-size: large !important;
        }
    }
}


@media only screen and (max-width: 768px) {
    .image-slider-container {
        width: 205px;
        margin: auto;
    }
}

@media only screen and (min-width: 769px) {    
    .image-slider-container {
        width: 100%;
        margin: auto;
    }
}



