<ion-content>
  <j2-header></j2-header>
  <div class="page-content">
    <image-carousel></image-carousel>>
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-md="9" offset-md="1.5" size-sm="10" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h1>GETTING JOBS DONE</h1>
            </ion-card-title>
            <!-- <ion-card-subtitle>J2 Acid Solutions Commitment</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <p>We have experience servicing a wide variety of wells. When you work with us we ensure:</p>
            <ul>
              <li>
                <ion-icon name="stopwatch"></ion-icon> Tasks are completed in a timely manner.
              </li>
              <li>
                <ion-icon name="star"></ion-icon> We have the right equipment for the job.
              </li>
              <li>
                <ion-icon name="stopwatch"></ion-icon>An accurate log of activities is mantained at all times.
              </li>
              <li>
                <ion-icon name="person"></ion-icon>Open and proactive communication.
              </li>
            </ul>
            <p>Customer satisfaction is our commitment. Our hard work goes to ensuring that all jobs are completed using
              best practices and conduct. At J2 Acid Solutions we ensure the expertise and knowledge our professionals,
              and
              the reliability of all equipment.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size-lg="3" offset-lg="0" size-md="3" offset-md="0" size-sm="10" offset-sm="1">
        <ion-card id="info-card-link" href="/safety">
          <ion-card-header>
            <ion-card-title class="title">
              <h3>Safety</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>J2 has been rated "Green" on ISNetworld for over 3 years and worked well past 1 Million hours without an
              OSHA recordable incident.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="3" offset-lg="0" size-md="3" offset-md="0" size-sm="10" offset-sm="1">
        <ion-card id="info-card-link" href="/equipment">
          <ion-card-header>
            <ion-card-title class="title">
              <h3>Digital Frontier</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Constantly pursuing technical advances incuding: paperless tickets and digital applications, embracing
              modern solutions.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="3" offset-lg="0" size-md="3" offset-md="0" size-sm="10" offset-sm="1">
        <ion-card id="info-card-link" href="/contact">
          <ion-card-header>
            <ion-card-title class="title">
              <h3>24/7 Support</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Dispatch with happy, energetic, knowledgable and helpful employees. We keep in touch with our clients at
              all times to ensure great service.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="3" offset-lg="0" size-md="3" offset-md="0" size-sm="10" offset-sm="1">
        <ion-card id="info-card-link" href="/cs">
          <ion-card-header>
            <ion-card-title class="title">
              <h3>Experience</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>J2 has been in business since 2017, with over 100 years of collective management experience and
              locations that serve the proud state of Texas as well as surrounding states. Don't forget, our service
              comes with a "Satisfaction Guarantee."</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <div class="image-slider-container">
          <ng-image-slider [images]="truckImages" [infinite]="true" [autoSlide]="3" [showArrow]="false"
            [imageSize]="{space: 5}" (imageClick)="route($event)"></ng-image-slider>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <j2-footer></j2-footer>
</ion-content>